<!-- Modal: 1 AIRCRFT Startup Shop Pop Up 1 d120-20 -->
<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-lighter">
      <div class="modal-body">

        <!-- Header -->
        <div class="row">
          <div class="col">

            <!-- Prettitle -->
            <h6 class="text-uppercase text-muted mb-3">
              <a href="#index.html" class="text-reset">AIRCRFT</a>
            </h6>

            <!-- Title -->
            <h2 class="mb-2">
              Founder Curated Stacks just for you!
            </h2>

            <!-- Subtitle 
            <p class="text-muted mb-0">
              Discover startups solving the world's most challenging problems.
            </p> -->

            <p class="text-center mb-3">
              <img src="assets/img/AIRCRFT Sidebar Logo.png" alt="AIRCRFT Sidebar Logo" class="img-fluid rounded">
            </p> 

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          
          </div>
        </div> <!-- / .row -->

        <!-- Divider -->
        <hr class="my-4">

        <!-- Card -->
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
    
            <!-- Subtitle -->
            <p class="text-muted mb-0">
              MVP No-code Stack
            </p>
            
            <!-- <p class="text-muted mb-0">
              AIRCRFT/spotlight: Discover startups working on solving the world's most challenging problems.
            </p> -->

                    
                    <!-- Title 
                    <h4 class="card-header-title"> <img src="assets/img/aircrft-logo-clean.png" alt="aircrft-logo">
                    </h4> -->
    
                  </div>
                  <div class="col-auto">
    
                    <!-- Button 
                    <a href="#!" class="btn btn-sm btn-primary">
                      EXPLORE
                    </a> -->
                    
                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-body">
    
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">MVP Landing Page Builder</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      No-code easy as pie instant and effective mobile first MVP Landing Page  Builder
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Content Publishing Platform</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Professional content publing platform can handle any type of content your want to spin up: blogs, podcast, livestreams, webiners, all of it and then some!
                    </p>
                    
                  </div>

                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Early-Adopter Community Builder </a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Start building your core community ASAP - headache-free. Zero configuration needed. 
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Talk to Users Instant Feed Back Chat App</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Makes it an effortless and effective experience to talk to your users on the regular.
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Payments</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Buy Now button wired up for you can start getting paid.
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">AIRCRFT Cloud Formation </a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      100% Headache-free backend cloud infrastruture. Saves your brains and minds precious bandwith. It just works. We promise. In fact, AIRCRFT runs on AIRCRFT. Ahh, take a long deep breathe, weve got your backend covered. DNS, domain name mapping, subdomains, SSL Certificates, all the drama bundled up andndone for you! 
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">User Management and effortless onboarding flow </a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Focus on solving your users problem, not pulling your hair out managing them!
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Bonus: Newsletter Creator and Subscription Management</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      If you can create a post, you can craft an newsletter and fire it off to specific groups of users with a couple of taps
                    </p>
                    
                  </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

              </div>
            </div>        

        <!-- Card 
        <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                  <span aria-hidden="true">×</span>
                </div>
  
              </div>
            </div>
          </div> -->

        <!-- Card 
        <div class="card">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                <span aria-hidden="true">×</span>
              </div>

            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>